[nz-form] {
    max-width: 800px;
  }
  
  .phone-select {
    width: 70px;
  }
  
  .register-are {
    margin-bottom: 8px;
  }
  
  .child {
    padding: 50px;
    position: absolute;
    width: 680px;
    background-color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  
    background: white;
    box-shadow: 1px 1px 15px -7px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin-bottom: 22px;
  }
  
  nz-form-control {
    min-width: 280px;
  }
  
  .parent {
    width: 100%;
    min-height: 91vh;
    position: relative;
  }
  
  .login-form-forgot {
    float: right;
  }
  
  .login-form-button {
    width: 100%;
  }
  
  button {
    background-color: #001529;
    border: none;
  }
  
  .imgDiv {
    width: 100%;
    vertical-align: middle;
  }
  
  .profile-badge {
    display: flex;
    align-items: center;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 180px;
  }
  
  @media only screen and (max-width: 600px) {
    .profile-badge {
      margin-left: 0px;
    }
  }
  
  .profile {
    height: 100px;
    margin-bottom: 5px;
    object-fit: cover;
  }
  
  #upload_profile_image {
    display: none;
  }
  
  #add_img_icon {
    width: 70px;
    height: 35px;
    position: relative;
    left: 118px;
    top: -42px;
  }
  