<form nz-form [formGroup]="validateForm" (submit)="searchAdByName()"
    style="margin-top: 20px; margin-bottom: 20px; text-align:center;">
    <input nz-input placeholder="Enter service to search" nzSize="large" style="width: 20%;"
        formControlName="service" />

        <button nz-button nzSize="large" nzType="primary" style="margin-left: 15px;"
        [disabled]="validateForm.invalid">Search</button>
</form>


<div class="bg">
    <div style="padding-top: 10px;"></div>
    <div style="margin-top:10px;" class="child" *ngFor="let ad of ads">
        <div nz-row>
            <div nz-col nzSpan="8">
                <img class="profile" [src]="updateImg(ad.returnedImg)"
                    style="height: 130px; width: 200px; border-radius: 10px;" />
            </div>
            <div nz-col nzSpan="16">
                <h2 style="cursor: pointer; color: #108ee9;">
                    {{ad.serviceName}}
                </h2>
                <hr>
                <h5>
                    Price : <b>{{ad.price}}</b>
                </h5>
                <h5>
                    Description : <b>{{ad.description}}</b>
                </h5>
                <hr>
                <div style="float: right;">
                    <button nzSize="small" nz-button nzType="primary" routerLink="/client/ad/{{ad.id}}">View</button>
                </div>
            </div>
        </div>

    </div>
</div>