<div class="container">
    <div class="section">
        <div class="header">
            <h1>Welcome to  Service Booking System!</h1>
            <p>Choose your user type to get started:</p>
        </div>
        <div class="buttons">
            <button nz-button nzType="primary" routerLink="/register_company">
                Register as a Company
            </button>
            <button nz-button nzType="primary" routerLink="/register_client">
                Register as a Client
            </button>
        </div>
    </div>
</div>