.parent {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    
  }
  
  .child {
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
  }
  
  .imgDiv {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .file-upload-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  
    .file-upload-label {
      display: flex;
      flex-direction: column;
      align-items: center;
      cursor: pointer;
  
      input[type="file"] {
        display: none;
      }
    }
  
    .image-preview {
      margin-top: 10px;
      margin-left: 100px;
  
      .circle-image {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        overflow: hidden;
        border: 2px solid #ccc;
        display: flex;
        justify-content: center;
        align-items: center;
  
        .preview-image {
          max-width: 100%;
          max-height: 100%;
        }
      }
    }
  }
  
  nz-form-item {
    margin-bottom: 20px;
  }
  
  .login-form-button {
    width: 100%;
  }